[2020-10-01 15:33] simarpreetsingh-019 opened #5 "Contribution guide link not working."
In the readme, there is a click button for going to contribution guideline, but the file is not there, it is missing. add the contributor's guidelines file. I want to contribute to this repo under hacktoberfest, so is there any issues that could be created in this repo also so that I can also contribute.

[2020-10-01 18:12] eldadfux commented on #5
This repo is still work in progress. We do not accept any PRs here at the moment.

[2020-10-01 18:12] #5 closed

[2020-10-03 11:00] DemonDaddy22 opened #9 "Link to the contributing guide is broken"
There's no CONTRIBUTING.md file for this repo, so if someone from the team can add it or allow me to add one, it'll be really helpful.
Also, links to helpful resources can be provided in the README.md file which can help the first-timers.

[2020-10-03 11:04] #9 closed

[2020-12-16 15:12] Glide7 opened #16 "[Help wanted] Translate 'welcome-email' function from NodeJS to Deno"
## 📚Translate 'welcome-email' function from NodeJS to Deno
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions. ☁
Help us translate the cloud function ['welcome-email'](https://github.com/appwrite/demos-for-functions/tree/master/nodejs/welcome-email) from Nod

[2020-12-16 15:19] Glide7 opened #17 "[Help wanted] Translate 'welcome-email' function from NodeJS to PHP"
## Translate 'welcome-email' function from NodeJS to PHP 🎯
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions. ☁
Help us translate the cloud function ['welcome-email'](https://github.com/appwrite/demos-for-functions/tree/master/nodejs/welcome-email) from Nod

[2020-12-17 01:16] Shaka-n commented on #16
Hey! I'm going to take a crack at this.

[2020-12-17 08:09] Glide7 opened #19 "[Help wanted] Translate 'welcome-email' function from NodeJS to Python 🐍"
## Translate 'welcome-email' function from NodeJS to Python 🐍
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['welcome-email'](https://github.com/appwrite/demos-for-functions/tree/master/nodejs/welcome-email) from No

[2020-12-17 08:12] Glide7 opened #20 "[Help wanted] Translate 'welcome-email' function from NodeJS to Ruby"
## Translate 'welcome-email' function from NodeJS to Ruby 💎
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['welcome-email'](https://github.com/appwrite/demos-for-functions/tree/master/nodejs/welcome-email) from Node

[2020-12-17 08:18] Glide7 opened #21 "[Help wanted] Translate 'file-backup' function from Python to Deno 🐱‍🐉"
## Translate 'file-backup' function from Python to Deno 🐱‍🐉
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['file-backup'](https://github.com/appwrite/demos-for-functions/tree/master/python/file-backup) from Python t

[2020-12-17 08:20] Glide7 opened #22 "[Help wanted] Translate 'file-backup' function from Python to NodeJS 👩‍💻"
## Translate 'file-backup' function from Python to NodeJS 👩‍💻
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['file-backup'](https://github.com/appwrite/demos-for-functions/tree/master/python/file-backup) from Python

[2020-12-17 08:23] Glide7 opened #23 "[Help wanted] Translate 'file-backup' function from Python to PHP 👨🏾‍💻"
## Translate 'file-backup' function from Python to PHP 👨🏾‍💻
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['file-backup'](https://github.com/appwrite/demos-for-functions/tree/master/python/file-backup) from Python t

[2020-12-17 08:24] Glide7 opened #24 "[Help wanted] Translate 'file-backup' function from Python to Ruby 💎"
## Translate 'file-backup' function from Python to Ruby
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['file-backup'](https://github.com/appwrite/demos-for-functions/tree/master/python/file-backup) from Python to Ru

[2020-12-17 08:28] Glide7 opened #25 "[Help wanted] Translate 'object-detection' function from Python to Deno 🐱‍🐉"
## Translate 'object-detection' function from Python to Deno 🐱‍🐉
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['object-detection'](https://github.com/appwrite/demos-for-functions/tree/master/python/object-detection

[2020-12-17 08:30] Glide7 opened #26 "[Help wanted] Translate 'object-detection' function from Python to NodeJS ⚙"
## Translate 'object-detection' function from Python to NodeJS ⚙
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['object-detection'](https://github.com/appwrite/demos-for-functions/tree/master/python/object-detection

[2020-12-17 08:32] Glide7 opened #27 "[Help wanted] Translate 'object-detection' function from Python to PHP 🐘"
## Translate 'object-detection' function from Python to PHP 🐘
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['object-detection'](https://github.com/appwrite/demos-for-functions/tree/master/python/object-detection) f

[2020-12-17 08:34] Glide7 opened #28 "[Help wanted] Translate 'object-detection' function from Python to Ruby 💎"
## Translate 'object-detection' function from Python to Ruby 🟥
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['object-detection'](https://github.com/appwrite/demos-for-functions/tree/master/python/object-detection)

[2020-12-17 08:46] Glide7 opened #29 "[Suggestions] Suggest new Idea for Cloud Function Demos 💡"
## Suggest new Idea for Cloud Function Demos 💡
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.

We would love to receive your suggestions for other cloud function demos!
Please comment down below if you have such an idea ♥

### Before starting any work ⚙

[2020-12-18 23:05] eldadfux commented on #16
@Shaka-n I assigned you to the issue. Feel free to join our other maintainers on Discord if you need any help, or just want to chat: https://appwrite.io/discord

[2020-12-18 23:37] Shaka-n commented on #16
Thanks! Just got done reading with reading the Deno docs. I'll get started asap.

[2020-12-30 11:44] anushkrishnav commented on #19
I can work on this

[2020-12-30 12:30] Glide7 commented on #19
Awesome! @anushkrishnav - assigning you for this! please reach out if you have any questions 👍

[2020-12-31 07:10] Glide7 commented on #16
Hey @Shaka-n - how are things going with this?

[2020-12-31 16:08] Shaka-n commented on #16
Hey! Apologies for the delay. I had some trouble with my environment. Hoping to make a PR today!

[2020-12-31 17:01] Shaka-n commented on #16
Ah, just a heads up: it looks like the links to the contribution guidelines and the instructions to start up an AppWrite server are broken. I already have my server running locally but I thought I should mention it.

[2020-12-31 19:37] eldadfux commented on #16
@Shaka-n thanks, I fixed the links!

[2021-02-04 08:04] Glide7 opened #37 "[Help wanted] Translate 'storage-cleaner' function from Dotnet to Deno 🐱‍🐉"
## Translate 'storage-cleaner' function from Dotnet to Deno 🐱‍🐉
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['storage-cleaner'](https://github.com/appwrite/demos-for-functions/tree/master/dotnet/storage-cleaner) f

[2021-02-04 08:13] Glide7 opened #38 "[Help wanted] Translate 'storage-cleaner' function from Dotnet to NodeJS"
## Translate 'storage-cleaner' function from Dotnet to NodeJS 🐱‍🐉
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['storage-cleaner'](https://github.com/appwrite/demos-for-functions/tree/master/dotnet/storage-cleaner)

[2021-02-04 08:13] Glide7 opened #39 "[Help wanted] Translate 'storage-cleaner' function from .NET to PHP"
## Translate 'storage-cleaner' function from .NET  to PHP
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['storage-cleaner'](https://github.com/appwrite/demos-for-functions/tree/master/dotnet/storage-cleaner) from .N

[2021-02-04 08:14] Glide7 opened #40 "[Help wanted] Translate 'storage-cleaner' function from Dotnet to Python 🐍"
## Translate 'storage-cleaner' function from Dotnet to Python🐱‍🐉
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['storage-cleaner'](https://github.com/appwrite/demos-for-functions/tree/master/dotnet/storage-cleaner)

[2021-02-04 08:15] Glide7 opened #41 "[Help wanted] Translate 'storage-cleaner' function from Dotnet to Ruby"
## Translate 'storage-cleaner' function from Dotnet to Ruby
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['storage-cleaner'](https://github.com/appwrite/demos-for-functions/tree/master/dotnet/storage-cleaner) from

[2021-02-04 08:16] Glide7 opened #42 "[Help wanted] Translate 'storage-cleaner' function from .NET to Dart"
## Translate 'storage-cleaner' function from .NET to Ruby
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['storage-cleaner'](https://github.com/appwrite/demos-for-functions/tree/master/dotnet/storage-cleaner) from .N

[2021-02-04 08:17] Glide7 opened #43 "[Help wanted] Translate 'file-backup' function from Python to Dart 🏹"
## Translate 'file-backup' function from Python to Dart 🏹
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['file-backup'](https://github.com/appwrite/demos-for-functions/tree/master/python/file-backup) from Python to

[2021-02-04 08:24] Glide7 opened #44 "[Help wanted] Translate 'file-backup' function from Python to Dotnet"
## Translate 'file-backup' function from Python to Dotnet
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['file-backup'](https://github.com/appwrite/demos-for-functions/tree/master/python/file-backup) from Python to

[2021-02-04 08:25] hack3r-0m commented on #40
I would like to take it

[2021-02-04 08:26] hack3r-0m commented on #19
I would like to take it

[2021-02-04 08:27] Glide7 opened #45 "[Help wanted] Translate 'object-detection' function from Python to Dart 🏹"
## Translate 'object-detection' function from Python to Dart 🏹
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['object-detection'](https://github.com/appwrite/demos-for-functions/tree/master/python/object-detection)

[2021-02-04 08:28] Glide7 opened #46 "[Help wanted] Translate 'object-detection' function from Python to Dotnet 🌐"
## Translate 'object-detection' function from Python to Dotnet 🌐
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['object-detection'](https://github.com/appwrite/demos-for-functions/tree/master/python/object-detection

[2021-02-04 08:32] Glide7 opened #47 "[Help wanted] Translate 'hello-world' function from Python to Dotnet 🌐"
## Translate 'hello-world' function from Python to Dotnet
We use Appwrite Cloud Functions demos as a good way to show how Cloud Functions can be used with Appwrite, and also as a good starting point for developers wanting to write their new functions.
Help us translate the cloud function ['hello-world'](https://github.com/appwrite/demos-for-functions/tree/master/python/hello-world) from Python to

[2021-02-04 08:35] Glide7 commented on #40
@hack3r-0m Assigned!

[2021-02-04 08:37] Glide7 commented on #19
@hack3r-0m checking if @anushkrishnav is done with this or not, and getting back to you

[2021-02-04 12:44] Glide7 commented on #39
Done by @TorstenDittmann https://github.com/appwrite/demos-for-functions/pull/48 :)

[2021-02-04 12:44] #39 closed

[2021-02-07 07:21] mlucas-NU commented on #29
Here are some ideas to get the conversation started. Ultimately, they're meant to target granular questions someone might ask, so some of these would need to be combined depending on the format of the demo. Come to think of it, what type of demos are you imagining?

- The simplest cronjob, like logging "hello world."
- The simplest endpoint, like returning the current server time.
- Basic cronjob/

[2021-02-08 11:26] lohanidamodar commented on #42
@Glide7 I'm working on this

[2021-02-09 14:28] anushkrishnav commented on #19
Really sorry got some heavy time crunch please assign it to hacker :)

[2021-02-10 01:16] lohanidamodar commented on #42
Closed by #49

[2021-02-10 01:16] #42 closed

[2021-02-10 07:35] Glide7 commented on #19
@hack3r-0m assigned it to you :)

[2021-03-05 19:05] hack3r-0m commented on #22
I would like to work on this!

[2021-03-07 08:57] eldadfux commented on #22
@hack3r-0m I assigned you to this issue!

[2021-03-07 08:57] #19 closed

[2021-07-10 20:42] Miksier commented on #47
@Glide7
Hi, if this issue if free(from what I see it is :D ) can I have it assigned to me so I'll do it? (and other .net examples but in time)

[2021-07-11 12:43] eldadfux commented on #47
@Miksier I have assigned you 👍

[2021-07-12 15:02] Miksier commented on #47
@eldadfux
I think this can be closed now :)

[2021-07-12 17:09] Miksier commented on #46
@Glide7
So now I can take care of this.
I'd love to contribute to the main project but Im shit at php and its black magic for me :D

[2021-09-29 09:43] Meldiron opened #75 "Implement pruneDocuments() Apprwite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `pruneDocuments` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the c

[2021-09-29 09:47] Meldiron opened #76 "Implement addCreatedAt() Apprwite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `addCreatedAt` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the cod

[2021-09-29 09:48] Meldiron opened #77 "Implement addUpdatedAt() Apprwite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `addUpdatedAt` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the cod

[2021-09-29 10:00] sasagarw commented on #77
Hey @Meldiron I would be interested to work on this issue. I will do for `python` language.

[2021-09-29 10:49] Illusion47586 commented on #77
Hi @Meldiron I am interested in working for nodejs in this issue.

[2021-09-29 11:34] Meldiron opened #78 "Implement backtoToS3() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `backtoToS3` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the codin

[2021-09-29 11:34] Meldiron opened #79 "Implement backupToBackblaze() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `backupToBackblaze` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in th

[2021-09-29 11:34] Meldiron opened #80 "Implement backupToDropbox() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `backupToDropbox` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-09-29 11:34] Meldiron opened #81 "Implement backupToStorage() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `backupToStorage` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-09-29 11:34] Meldiron opened #82 "Implement generateBitlyUrl() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateBitlyUrl` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-09-29 11:34] Meldiron opened #83 "Implement generateGdprExport() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateGdprExport` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in t

[2021-09-29 11:34] Meldiron opened #84 "Implement generateGoogleMap() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateGoogleMap` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in th

[2021-09-29 11:34] Meldiron opened #85 "Implement generateInvoice2goInvoice() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateInvoice2goInvoice` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-function

[2021-09-29 11:34] Meldiron opened #86 "Implement generateInvoicelyInvoice() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateInvoicelyInvoice` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions

[2021-09-29 11:34] Meldiron opened #87 "Implement generateUnsplashImage() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateUnsplashImage` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) i

[2021-09-29 11:34] Meldiron opened #88 "Implement generateXeroInvoice() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateXeroInvoice` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in

[2021-09-29 11:34] Meldiron opened #89 "Implement getInternetSpeed() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `getInternetSpeed` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the

[2021-09-29 11:34] Meldiron opened #90 "Implement getStripePaymentStatus() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `getStripePaymentStatus` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions)

[2021-09-29 11:34] Meldiron opened #91 "Implement sendRequest() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendRequest` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the codi

[2021-09-29 11:34] Meldiron opened #92 "Implement sendSMS() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendSMS` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the coding l

[2021-09-29 11:34] Meldiron opened #93 "Implement sendWhatsAppMessage() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `sendWhatsAppMessage` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in

[2021-09-29 11:34] Meldiron opened #94 "Implement subscribeToMailchimp() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `subscribeToMailchimp` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in

[2021-09-29 11:34] Meldiron opened #95 "Implement subscribeToSendGrid() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `subscribeToSendGrid` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in

[2021-09-29 11:34] Meldiron opened #96 "Implement textToSpeech() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `textToSpeech` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the cod

[2021-09-29 11:34] Meldiron opened #97 "Implement translateText() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `translateText` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in the co

[2021-09-29 11:34] Meldiron opened #98 "Implement tweetNewMembership() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `tweetNewMembership` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) in t

[2021-09-29 16:08] ssm0801 commented on #93
Can I take this ? I'll work in `python`

[2021-09-29 16:09] ssm0801 commented on #92
Can I take this ? I'll work in `python`

[2021-09-29 17:03] sanyud24 commented on #97
May I work on this issue using Kotlin language ?

[2021-09-30 03:23] sasagarw commented on #77
Should we just start with implementation @Meldiron or wait for you to assign us the task?

[2021-09-30 03:24] sasagarw commented on #76
Hey @Meldiron I would be interested to work on this issue. I will do for `python` language.

[2021-09-30 05:10] arshxyz commented on #82
I would like to claim this issue, thanks.

[2021-09-30 06:01] foxy-eyed commented on #82
Hi! I would like to implement it with Ruby.

[2021-09-30 06:04] Ares358 commented on #96
I'd like to work on this one!

[2021-09-30 06:08] Meldiron commented on #76
@sasagarw Hacktoberfest didn't start yet, so we will not assign issues yet. Please ask again on 1.10. and I will be more than happy to assign it to you 😇 I removed your comment to keep the issue clean.

[2021-09-30 06:09] Meldiron commented on #77
@sasagarw @Illusion47586  Hacktoberfest didn't start yet, so we will not assign issues yet. Please ask again on 1.10. and I will be more than happy to assign it to you 😇 I removed your comments to keep the issue clean.

[2021-09-30 06:09] Meldiron commented on #82
@arshxyz @foxy-eyed   Hacktoberfest didn't start yet, so we will not assign issues yet. Please ask again on 1.10. and I will be more than happy to assign it to you 😇 I removed your comments to keep the issue clean.

[2021-09-30 06:09] Meldiron commented on #84
@Aonepathan    Hacktoberfest didn't start yet, so we will not assign issues yet. Please ask again on 1.10. and I will be more than happy to assign it to you 😇 I removed your comment to keep the issue clean.

[2021-09-30 06:10] Meldiron commented on #97
@sanyud24  Hacktoberfest didn't start yet, so we will not assign issues yet. Please ask again on 1.10. and I will be more than happy to assign it to you 😇 I removed your comment to keep the issue clean.

[2021-09-30 08:56] Rishavgupta12345 commented on #96
can i work on this issue ? i want to participate in hactoberfest .

i will write the code in kotlin

[2021-09-30 09:08] Rishavgupta12345 commented on #97
can i work on this issue ? i want to participate in hactoberfest .

i will write the code in kotlin

[2021-09-30 09:21] Rishavgupta12345 commented on #92
i have a question . if i make the function to send SMS , then how should i make a working function because the layout and the buttons which will be required won't be provided and the app will not work .

it will be like a demo function , so do you guys want a perfect working function ?

[2021-09-30 10:36] Meldiron opened #99 "Upgrade our issue templates to use GitHub issue forms ✍️"
# Introduction

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

Appwrite currently uses the older [issue template format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-

[2021-09-30 13:50] Shylajhaa commented on #93
@Meldiron Can I choose to implement this in multiple languages?

[2021-09-30 16:05] ssm0801 commented on #82
Is hacktoberfest started ?

[2021-09-30 18:16] abxhr commented on #99
I would love to work on this! 🙋‍♂️

[2021-09-30 22:15] avats-dev commented on #75
I want to implement this function for **`python`** language. Also, can you please guide me where can I find the whole structure of storage object and what do you mean by all collections. Please provide me the appropriate reference, happy to contribute to appwrite. Thanks !

[2021-09-30 22:18] avats-dev commented on #82
Hey, I'm working on implementing this for **`python`** language. Please assign me for the same. Thanks!

[2021-09-30 22:20] avats-dev commented on #87
Hey, I'm working on implementing this in **`python`**. Please assign me for the same. Thanks.

[2021-09-30 22:23] avats-dev commented on #97
Hey, I'm working on implementing this in `python`. Please assign me for the same. Thanks.

[2021-09-30 22:25] avats-dev commented on #96
Hey, I am working on implementing this in `python`. Please assign me for the same. Thanks.

[2021-09-30 22:38] Ares358 commented on #98
Can I be assigned for this one? I'm implementing this using Python.

[2021-09-30 22:38] Ares358 commented on #89
Can I be assigned for this one? I'm implementing this using Python.

[2021-09-30 22:43] Ares358 commented on #87
I'm also working on this one using Python. Can two people be assigned for the same task?

[2021-09-30 22:47] Ares358 commented on #84
Can I be assigned for this one? I'm implementing this using Python.

[2021-10-01 00:29] sasagarw commented on #77
Hey @Meldiron I would be interested to work on this issue. I will do it for `python` language.

[2021-10-01 00:31] sasagarw commented on #76
Hey @Meldiron I would be interested to work on this issue. I will do it for `python` language.

[2021-10-01 00:32] sasagarw commented on #82
Hey @Meldiron I would be interested to work on this issue. I will do it for `java` language.

[2021-10-01 01:06] Phoenix-031 commented on #93
@Meldiron I would like to implement this is python.

[2021-10-01 03:25] Shylajhaa commented on #82
@Meldiron I can implement this in `PHP` and `Kotlin`

[2021-10-01 03:25] Shylajhaa commented on #93
@Meldiron  I can implement this in `PHP` and `Kotlin`

[2021-10-01 03:25] Shylajhaa commented on #92
@Meldiron  I can implement this in `PHP` and `Kotlin`

[2021-10-01 03:26] Shylajhaa commented on #95
@Meldiron  I can implement this in `PHP` and `Kotlin`

[2021-10-01 03:26] Shylajhaa commented on #84
@Meldiron  I can implement this in `PHP` and `Kotlin`

[2021-10-01 04:11] arshxyz commented on #82
Hi, I'd like to claim this issue for `nodejs`, thanks.

[2021-10-01 04:15] ssm0801 commented on #82
I would like to worn on this ?
I will code in `python`

[2021-10-01 04:16] ssm0801 commented on #89
Can I get this one ?
I will code in `python`

[2021-10-01 04:17] ssm0801 commented on #92
Can I get this one ?
I will code in `python`

[2021-10-01 04:17] DonnC commented on #93
I would like to go for `python`

[2021-10-01 04:17] ssm0801 commented on #91
Can I get this one ?
I will code in `python`

[2021-10-01 04:18] ssm0801 commented on #93
I would like to work on this ?
I will code in `Java`

[2021-10-01 04:18] ssm0801 commented on #96
I would like to work on this ?
I will code in `python`

[2021-10-01 04:18] ssm0801 commented on #97
Can I get this one ?
I will code in `python`

[2021-10-01 04:19] DonnC commented on #82
I would like to try this in `python` and `dart`

[2021-10-01 04:43] arshxyz commented on #98
Hi, I'd like to claim this for `nodejs`.

[2021-10-01 05:04] foxy-eyed commented on #82
Hi! Would like to implement this with `Ruby`

[2021-10-01 05:08] DonnC commented on #92
Howdy, i think i will go for `dart` on this one

[2021-10-01 05:10] DonnC commented on #87
Hie, can i take this with `dart`

[2021-10-01 06:49] anmol-Git commented on #94
I will like to work on this issue , Can you Please assign this issue to me.

[2021-10-01 06:57] Nikhil-1503 commented on #94
I would like to work on this issue in Java.

[2021-10-01 06:58] Meldiron commented on #99
@abxhr Assigned it to you! All the best 🚀

[2021-10-01 06:58] Rishavgupta12345 commented on #92
i am working on this using kotlin

[2021-10-01 07:01] Meldiron commented on #98
@Ares358 @arshxyz Assigned it to you! All the best 🚀

[2021-10-01 07:02] Meldiron commented on #97
@Rishavgupta12345 @avats-dev Assigned it to you! All the best 🚀

[2021-10-01 07:02] Meldiron commented on #97
@ssm0801 We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 07:04] Meldiron commented on #95
@Shylajhaa Assigned it to you! All the best 🚀

[2021-10-01 07:06] Meldiron commented on #94
@Nikhil-1503 Assigned it to you! All the best 🚀

[2021-10-01 07:06] Meldiron commented on #94
@anmol-Git Sure, we can 😊 Can you please specify the coding language?

[2021-10-01 07:08] Meldiron commented on #93
@DonnC @ssm0801 Assigned it to you! All the best 🚀

[2021-10-01 07:08] Meldiron commented on #93
@Shylajhaa Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:08] Meldiron commented on #92
@Shylajhaa Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:09] DonnC commented on #93
thank you but i requested for `python` can you confirm

[2021-10-01 07:11] Meldiron commented on #92
@ssm0801 @Rishavgupta12345  @DonnC  Assigned it to you! All the best 🚀

[2021-10-01 07:12] anmol-Git commented on #94
@Meldiron  will do this in java and kotlin

[2021-10-01 07:13] Meldiron commented on #91
@ssm0801 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:13] Meldiron commented on #89
@ssm0801 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:13] Meldiron commented on #89
@Ares358 Assigned it to you! All the best 🚀

[2021-10-01 07:14] Meldiron commented on #87
@DonnC @avats-dev Assigned it to you! All the best 🚀

[2021-10-01 07:15] Meldiron commented on #87
@Ares358 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:16] Meldiron commented on #84
@Shylajhaa @Ares358 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:16] Obnoxious-coder commented on #97
Can you assign this to me for python

[2021-10-01 07:16] Meldiron commented on #96
@Rishavgupta12345 @avats-dev @ssm0801 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:18] Meldiron commented on #77
@sarakaandorp Assigned it to you! All the best 🚀

[2021-10-01 07:20] Meldiron commented on #82
@avats-dev @sasagarw @Shylajhaa @ssm0801 Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:20] Meldiron commented on #76
@sarakaandorp Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:22] Meldiron commented on #75
@avats-dev Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-01 07:22] Meldiron commented on #82
@DonnC @foxy-eyed @arshxyz Assigned it to you! All the best 🚀

[2021-10-01 07:23] Obnoxious-coder commented on #97
i would like to work on this one in Nodejs

[2021-10-01 07:31] abxhr commented on #99
@Meldiron I've noticed that there are no Issue Templates present in this repository

[2021-10-01 07:32] Meldiron commented on #93
@DonnC Whoops, my bad, thanks for the correction. Sure, `python` is yours 🥳

[2021-10-01 07:35] Meldiron commented on #94
@anmol-Git Great, thanks for the clarification. Go ahead, good luck 💪 I assigned you to Kotlin, Java is already taken.

[2021-10-01 07:36] mukeshmjn commented on #90
@Meldiron assign For Nodejs to me . I would work on this

[2021-10-01 07:36] Meldiron commented on #97
@Obnoxious-coder Assigned it to you! All the best 🚀

[2021-10-01 07:36] mukeshmjn commented on #89
@Meldiron assign for nodejs to me

[2021-10-01 07:37] mukeshmjn commented on #93
@Meldiron assign for nodejs to me

[2021-10-01 07:38] Meldiron commented on #93
@mukeshmjn Assigned it to you! All the best 🚀

[2021-10-01 08:09] TheLearneer commented on #92
Hi there, I would like to work on it using Node.js.

[2021-10-01 08:11] Illusion47586 commented on #77
@Meldiron I am interested in doing this for nodejs. Please assign it to me.

[2021-10-01 08:33] Meldiron commented on #92
@TheLearneer Assigned it to you! All the best 🚀

[2021-10-01 08:33] Meldiron commented on #99
@abxhr Exactly, your task is to create them 😊 Take inspiration from `appwrite/appwrite`

[2021-10-01 08:34] Meldiron commented on #90
@mukeshmjn Assigned it to you! All the best 🚀

[2021-10-01 08:40] Meldiron commented on #77
@Illusion47586 Assigned it to you! All the best 🚀

[2021-10-01 08:40] Meldiron commented on #89
@mukeshmjn Assigned it to you! All the best 🚀

[2021-10-01 08:52] Sin-Sumit commented on #96
@Meldiron Can I work on this using NodeJs?

[2021-10-01 08:55] Sin-Sumit commented on #91
@Meldiron Can I work on this using NodeJs?

[2021-10-01 09:07] shujathkhan commented on #91
@Meldiron I can contribute to NodeJS, Python, Java, Kotlin or .Net. You can assign me any one of them, later I can contribute to the other languages as well.

[2021-10-01 09:10] shujathkhan commented on #76
@Meldiron I can contribute to NodeJS, Python, Java, Kotlin or .Net. You can assign me any one of them, later I can contribute to the other languages as well.

[2021-10-01 09:12] bistaastha commented on #87
I can work on this over NodeJS.

[2021-10-01 09:44] Meldiron commented on #91
@Sin-Sumit Assigned it to you! All the best 🚀

@shujathkhan Assigned you `.Net` since that is a rare skill 😎 and `python` so you are not bored 😛  Once finished, I can assign more languages or you could do another function.

[2021-10-01 10:12] Meldiron commented on #87
@bistaastha Assigned it to you! All the best 🚀

[2021-10-01 10:13] Meldiron commented on #76
@shujathkhan Assigned `.NET` it to you! All the best 🚀  Please finish all assigned tasks (this + one more function, I think) before asking for more 😇

[2021-10-01 10:52] Aonepathan commented on #84
@Meldiron If possible, could I work on the Java portion of this item?

[2021-10-01 11:18] Meldiron commented on #84
@Aonepathan Assigned it to you! All the best 🚀

[2021-10-01 11:31] achintya-7 commented on #80
I would like to work on this issue.
I would like to use Python language for it.

[2021-10-01 12:15] Meldiron commented on #80
@achintya-7 Assigned it to you! All the best 🚀

[2021-10-01 12:39] eigengravy commented on #89
hi, i would love to have a go at deno

[2021-10-01 12:48] sanyud24 commented on #97
I would like  to implement in java.

[2021-10-01 13:12] eigengravy commented on #82
hi, i would love to implement this in deno

[2021-10-01 13:41] Jaideep07 commented on #88
Hello 😃, I would like to work on this in python language could you pls assign me this issue.

[2021-10-01 13:50] henrhie commented on #81
Hello, I will like to be assigned this issue. I plan on using nodejs

[2021-10-01 14:11] benceHornyak commented on #94
Hey. Can i work on the nodejs part of this? :)

[2021-10-01 14:13] Jaideep07 commented on #96
Hello @Meldiron 👋🏻, I could work on this in python

[2021-10-01 15:08] rajatkeshri commented on #96
Hi, can you assign this to me for python? I have already created a PR for this.

[2021-10-01 15:56] DjDeveloperr commented on #92
Hey, I'd like to do it using Deno.

[2021-10-01 16:28] ishaanmehta4 commented on #95
Hey @Meldiron, if I have understood it correctly, the function just needs to add the email as a contact to some sendgrid list right?
https://docs.sendgrid.com/api-reference/contacts/add-or-update-a-contact

Also, I hope I can use an external library such as axios to make the request to SendGrid's API endpoint.

[2021-10-01 16:43] divyanshkul commented on #93
@Meldiron I would like to work in ```dart```

[2021-10-01 16:47] GunjanDhanuka commented on #89
@Meldiron can you assign this to me in ```dart```?

[2021-10-01 16:52] GunjanDhanuka commented on #99
Can you also assign this to me? I believe I can complete it within the night.

[2021-10-01 17:40] christyjacob4 commented on #99
@GunjanDhanuka We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 17:42] christyjacob4 commented on #97
@sanyud24 All the best :rocke

[2021-10-01 17:44] christyjacob4 commented on #96
@Jaideep07  All the best :rocket:

[2021-10-01 17:44] christyjacob4 commented on #96
@rajatkeshri We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-01 17:46] christyjacob4 commented on #94
@benceHornyak  All the best. Assinged you :smile:

[2021-10-01 17:47] christyjacob4 commented on #92
@DjDeveloperr  Assigned it to you! All the best :rocket:

[2021-10-01 17:49] christyjacob4 commented on #89
@eigengravy Assigned you! All the best :rocket:

[2021-10-01 17:50] christyjacob4 commented on #89
@GunjanDhanuka Assinged to you! All the best

[2021-10-01 17:51] christyjacob4 commented on #88
@Jaideep07  Assigned to you! All the best :rocket:

[2021-10-01 17:51] Rishabh-Negi commented on #97
Hey I would like to work on this in Dart
but is seems to assigned to @avats-dev  who applied for python

[2021-10-01 17:52] christyjacob4 commented on #82
@eigengravy assigned you. All the best :rocket:

[2021-10-01 17:52] Rishabh-Negi commented on #96
Hey i Would like to work on this in  Dart

[2021-10-01 18:04] christyjacob4 commented on #81
@henrhie  All the best :rocket:  Assigned you

[2021-10-01 18:59] avats-dev commented on #87
Added PR for implementing this in python.

[2021-10-01 20:33] avats-dev commented on #97
Opened PR for its implementation in python, do review it and LMK of any suggestions. 👍

[2021-10-02 00:31] rosiegamgee718 commented on #98
Can I try this in Java, please?

[2021-10-02 02:25] HarshitPandey251 commented on #78
@Meldiron I want to work on this issue as I know Nodejs and PHP language

[2021-10-02 02:56] bipinparajuli commented on #78
Hi, can you please assign this to me, I want to write in Nodejs.

Thank you

[2021-10-02 04:57] ashwinexe commented on #86
Hey I am interested to implement this function.
Note: Before assigning I want to let you know I am **new** to appwrite functions. Will be needing help from discord :)

[2021-10-02 05:22] Rishavgupta12345 commented on #92
bro i have made the pull request #100  please review it

[2021-10-02 05:28] TheLearneer commented on #76
Hi there, I would like to work on this issues in `Node.js`

[2021-10-02 06:36] niyoj commented on #85
Can you assign this task to me? I will be  very happy to contribute. I would like to work with PHP language,

[2021-10-02 06:52] GunjanDhanuka commented on #89
Actually there is a problem since I cannot find any package/API that works for Dart applications. Python has a convenient SpeedTest CLI package but that doesn't seem to work for Dart. Also I found a package but that depends on Flutter and thus the execution steps will change. Will it be fine to use a Flutter package in this case then? @christyjacob4  @Meldiron

[2021-10-02 07:42] GunjanDhanuka commented on #89
I have made a PR for the same! Please review it.

[2021-10-02 07:46] GunjanDhanuka commented on #84
Can I work on the Python and Dart portions of this issue? @Meldiron

[2021-10-02 07:47] GunjanDhanuka commented on #95
I would like to implement this in Python! @Meldiron

[2021-10-02 08:18] R055A commented on #96
Hi. I am interested in being assigned for PHP and/or Ruby, thanks.

[2021-10-02 11:06] akashgp09 commented on #92
@Meldiron @christyjacob4 I am working on the ruby one.

[2021-10-02 11:10] Meldiron commented on #98
@rosiegamgee718 Assigned it to you! All the best 🚀

[2021-10-02 11:12] Meldiron commented on #97
@Rishabh-Negi Assigned it to you! All the best 🚀

Whoops I put avast-dev into wrong column, thanks for letting me know 🙏

[2021-10-02 11:13] Meldiron commented on #96
@Rishabh-Negi @R055A  Assigned it to you! All the best 🚀

[2021-10-02 11:16] Meldiron commented on #95
@ishaanmehta4 We didn't dig too deep into implementation, but filling contact group seems correct 👍

@GunjanDhanuka Assigned it to you! All the best 🚀

[2021-10-02 11:16] Meldiron commented on #94
@Rishabh-Negi Looks like you have some issues assigned to you already. We request you to complete those before requesting assignments on new ones. Also, please consider picking a different type of issue so other contributors can try this one.

[2021-10-02 11:17] Meldiron commented on #92
@Rishavgupta12345 Thanks for the PR! 🤯 Please give us some time to review it.

@akashgp09 Assigned it to you! All the best 🚀

[2021-10-02 11:17] ishaanmehta4 commented on #95
Thanks @Meldiron , can you please assign nodejs to me? I wish to work on that.

[2021-10-02 11:18] Meldiron commented on #89
@GunjanDhanuka Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-02 11:18] Meldiron commented on #87
@avats-dev Thanks for the PR! 🤯 Please give us some time to review it.

[2021-10-02 11:20] Meldiron commented on #86
@ashwinexe Sure, both Appwrite core team and Appwrite community are ready to help you 😊

Please let me know which language you would like to be assigned to.

[2021-10-02 11:20] Meldiron commented on #85
@niyoj Assigned it to you! All the best 🚀

[2021-10-02 11:22] Meldiron commented on #84
@GunjanDhanuka Assigned it to you! All the best 🚀

[2021-10-02 11:24] Meldiron commented on #78
@bipinparajuli @HarshitPandey251 Assigned it to you! All the best 🚀

@HarshitPandey251 I gave you PHP, so @bipinparajuli can work on NodeJS.

[2021-10-02 11:25] Meldiron commented on #76
@TheLearneer Assigned it to you! All the best 🚀

[2021-10-02 11:55] adil14788 commented on #79
@Meldiron can I take this while working on node.js

[2021-10-02 11:57] adil14788 commented on #26
can I work on it @Glide7 ??

[2021-10-02 11:58] adil14788 commented on #83
@Meldiron Can I work on it ?

[2021-10-02 12:02] christyjacob4 commented on #95
@ishaanmehta4 Assigned you

[2021-10-02 12:13] Emiliaaah commented on #80
I can make this in JS. So feel free to assign me.

[2021-10-02 12:19] christyjacob4 commented on #80
@Emiliaaah definitely! :+1:

[2021-10-02 12:20] niyoj commented on #85
@Meldiron Will be sending a PR soon.

[2021-10-02 12:23] christyjacob4 commented on #83
@adil14788  Which language would you like to contribute in ?

[2021-10-02 12:23] christyjacob4 commented on #79
Sure :+1:

[2021-10-02 12:53] ashwinexe commented on #86
Awesome, Please assign me to NodeJS

[2021-10-02 15:18] Kokoden commented on #84
Hey! :) Can I work on the NodeJS portion of this?

[2021-10-02 15:28] kkhitesh commented on #92
Hey, I would like to work on Java Implementation, could you assign it to me

[2021-10-02 15:42] DonnC commented on #43
howdy, im interested in this one 😎

[2021-10-02 16:28] akashgp09 commented on #97
@Meldiron @christyjacob4 I am working on the ruby one.

[2021-10-02 17:37] YarinAyash1 commented on #94
I would like to work on this issue in PHP.

[2021-10-02 19:56] abxhr commented on #90
@Meldiron I would love to work on the Python Implementation 🙋‍♂️

[2021-10-03 03:57] lohanidamodar commented on #90
@abxhr assigned python to you. All the best 🚀

[2021-10-03 04:00] lohanidamodar commented on #92
@kkhitesh Assigned Java to you. All the best 🚀

[2021-10-03 04:01] lohanidamodar commented on #94
@YarinAyash1 Assigned PHP to you. All the best 🚀

[2021-10-03 04:10] lohanidamodar commented on #97
@akashgp09 Assigned to you. All the best 🚀

[2021-10-03 04:18] lohanidamodar commented on #86
@ashwinexe Assigned NodeJS to you. All the best 🚀

[2021-10-03 04:19] lohanidamodar commented on #84
@Kokoden Assigned NodeJS to you. All the best 🚀

[2021-10-03 05:11] jash-desai commented on #89
Can I work for this in Dart? @Meldiron

[2021-10-03 05:38] lohanidamodar commented on #89
@jash-desai as you can see the Dart is already assigned. Please try other language or other demo issues. Thank you.

[2021-10-03 07:35] DonnC commented on #80
hello, i can give this a try in `dart` as well

[2021-10-03 08:01] chandrikadeb7 commented on #75
@Meldiron I want to take this up with Java and Python

[2021-10-03 10:21] niyoj commented on #85
Can I get some hints regarding how to generate invoice2go invoice? I looked over the documentation in invoice2go but there is nothing I found that can be used to generate the invoice by giving the data from documents. May be I got wrong. So can you give me a little hint or reference that can be used.

[2021-10-03 11:06] nCodesDotEU commented on #89
Can I work for this in Java?

[2021-10-03 11:16] nCodesDotEU commented on #82
Hi, can I do it in Java?

[2021-10-03 12:40] lohanidamodar commented on #80
@DonnC assigned to you. All the best 🚀

[2021-10-03 12:41] lohanidamodar commented on #82
@nCodesDotEU assigned Java to you. All the best 🚀

[2021-10-03 12:43] lohanidamodar commented on #89
@nCodesDotEU assigned to you. All the best 🚀

[2021-10-03 12:51] lohanidamodar commented on #75
@chandrikadeb7 assigned Java to you. All the best 🚀

[2021-10-03 13:26] noobkid2411 commented on #97
Hi,I would like to implement this function in php!

[2021-10-03 14:49] adil14788 commented on #83
@christyjacob4 Node.js

[2021-10-04 02:41] akashgp09 commented on #89
@Meldiron @christyjacob4 I am working on the ruby one.

[2021-10-04 04:57] lohanidamodar commented on #83
@adil14788 assigned nodejs to you. All the best 🚀

[2021-10-04 05:01] lohanidamodar commented on #89
@akashgp09 assigned ruby to you. All the best 🚀

[2021-10-04 05:03] lohanidamodar commented on #97
@noobkid2411 assigned PHP to you. All the best 🚀

[2021-10-04 05:05] stnguyen90 commented on #76
Hi may I work on this one in python?

[2021-10-04 05:10] lohanidamodar commented on #76
@stnguyen90 Assigned python to you. All the best 🚀

[2021-10-04 06:14] adil14788 commented on #83
Thakyou @lohanidamodar

[2021-10-04 07:27] Meldiron commented on #98
@arshxyz I noticed you created draft PR. That means you don't want us to review it yet. Please un-draft it once it's ready 😇

[2021-10-04 08:58] Meldiron commented on #85
@niyoj Hmm I just checked with them and it looks like they don't support API communication yet. I am sorry for the complications, but we will need to wait for their implementation before continuing this issue.

[2021-10-04 11:12] niyoj commented on #85
@Meldiron So, I think I will be working on another issue till then.

[2021-10-04 11:13] niyoj commented on #98
I would like to work on this issue in PHP language.

[2021-10-04 11:15] niyoj commented on #93
Can I work in this issue in PHP language?

[2021-10-04 11:16] niyoj commented on #92
Can I work in this issue in PHP language? This issue and issue to implement WhatsApp message functions seems to be quite similar. So, I would like to work in this issue too.

[2021-10-04 11:22] Meldiron commented on #92
@niyoj Assigned it to you! All the best 🚀

[2021-10-04 11:22] Meldiron commented on #93
@niyoj Assigned it to you! All the best 🚀

[2021-10-04 11:23] Meldiron commented on #98
@niyoj Just assigned you to 2 issues related to Twilio. Please finish these, then we can assign you more 😊

[2021-10-04 14:59] JeevaSaravanan commented on #96
Hi ! I would like to work on this in Java.

[2021-10-04 15:34] und1n3 commented on #83
Hi! I would like to contribute doing the python version :)

[2021-10-04 16:19] eigengravy commented on #90
hi, can i work on the deno implementation?

[2021-10-04 18:19] chandrikadeb7 commented on #75
@Meldiron Can you help me with the Java implementation of this function? Which sdk to import and what to do?

[2021-10-04 18:21] achintya-7 commented on #81
Can I take this issue for the Python language

[2021-10-04 18:32] Daybringer commented on #88
Hi, I would like to do the NodeJS and Deno implementation.

[2021-10-04 19:30] codingsamurai-10 commented on #98
I would like to take this up for PHP @Meldiron

[2021-10-04 20:51] divyanshkul commented on #98
Hey @Meldiron I would like to work on this in ```dart```

[2021-10-05 00:43] henrhie commented on #81
@Meldiron by generating an in-memory csv file in the task, do you mean a string representation of a csv?

[2021-10-05 04:37] alfiankan commented on #93
i can implement in kotlin
please assign to me

[2021-10-05 06:26] eigengravy commented on #98
hi, can I work on this for deno?

[2021-10-05 06:30] lohanidamodar commented on #75
@chandrikadeb7 You can use our [Kotlin SDK](https://github.com/appwrite/sdk-for-kotlin)

[2021-10-05 06:31] lohanidamodar commented on #81
@achintya-7 assigned python to you. All the best 🚀

[2021-10-05 06:33] lohanidamodar commented on #81
@henrhie please implement how you seem fit and open a PR and our team will review and give you chance to work if there are problems. Thank you.

[2021-10-05 06:33] lohanidamodar commented on #83
@und1n3 assigned python to you. All the best 🚀

[2021-10-05 06:35] lohanidamodar commented on #88
@Daybringer assigned Deno to you. If no one else is assigned to nodejs by the time you finish with deno, we might assign you that as well. All the best 🚀 .

[2021-10-05 06:35] lohanidamodar commented on #90
@eigengravy assigned deno to you. All the best 🚀

[2021-10-05 06:36] lohanidamodar commented on #91
@DjDeveloperr Assigned deno to you. All the best 🚀

[2021-10-05 06:39] lohanidamodar commented on #93
@alfiankan assigned kotlin to you. All the best 🚀

[2021-10-05 06:40] lohanidamodar commented on #96
@JeevaSaravanan Assigned java to you. All the best 🚀

[2021-10-05 06:41] lohanidamodar commented on #98
@eigengravy @divyanshkul Assigned deno and dart respectively. All the best 🚀

[2021-10-05 06:42] lohanidamodar commented on #98
@codingsamurai-10 Assigned PHP to you, all the best 🚀

[2021-10-05 07:24] alceil commented on #17
I would like to contribute. Can you brief what all I need to do and is there any resources I can follow to get this done.

[2021-10-05 07:34] peterchu999 commented on #87
Hey, I wanna try to working on implementing this in `Java`. please assign to me Thanks

[2021-10-05 07:51] Meldiron opened #125 "Implement generateOpenStreetMap() Appwrite Function ⚡"
# Introduction

Appwrite Functions allow you to extend and customize your Appwrite server functionality by executing your custom code 🤩 You can learn more at our official [Appwrite Functions docs](https://appwrite.io/docs/functions).

Your task is to implement `generateOpenStreetMap` function. You can look at the existing [Appwrite Functions demo](https://github.com/appwrite/demos-for-functions) i

[2021-10-05 07:57] AnirudhPanda commented on #125
Hey can i take this?

Language: Node JS

[2021-10-05 07:58] aggmoulik commented on #125
Hey, I can take the issue.

Language: Deno

[2021-10-05 08:01] Meldiron commented on #125
@AnirudhPanda Assigned it to you! All the best 🚀

[2021-10-05 08:01] Meldiron commented on #125
@aggmoulik Assigned it to you! All the best 🚀

[2021-10-05 08:08] foxy-eyed commented on #75
@Meldiron I would like to work on Ruby implementation.

[2021-10-05 08:20] oshi36 commented on #125
Hey, I can take this issue.
Language : Java

[2021-10-05 08:21] Meldiron commented on #125
@oshi36 Assigned it to you! All the best 🚀

[2021-10-05 09:21] geeythree commented on #125
I'd like to work on this
Language : Python

[2021-10-05 09:21] crossphoton commented on #87
Hey can I take the `deno` implementation.

[2021-10-05 09:27] crossphoton commented on #75
Hi can I take the NodeJS implementation.

[2021-10-05 09:33] Meldiron commented on #125
@geeythree Assigned it to you! All the best 🚀

[2021-10-05 09:41] crossphoton commented on #91
@Meldiron NodeJS assigned but not mentioned.

[2021-10-05 09:52] crossphoton commented on #38
@Glide7
Close this issue? As a PR is already merged.

[2021-10-05 09:58] crossphoton commented on #21
Can I work on this @Glide7 ?

[2021-10-05 10:05] crossphoton commented on #88
@lohanidamodar @christyjacob4 Can I work on the NodeJS implementation?

[2021-10-05 10:47] noviicee opened #126 "Demos for Functions Progress not updated"
The progress for the Demos for Functions in different languages are not updated.
For example- It says there is no helloworld function for dotnet, but if you check in the dotnet directory, the function exists.
Similarly, the function for object-detection does not exist in php, but it is checked on the progress.
This might create confusion among new contributors.

[2021-10-05 10:47] noviicee commented on #126
I wish to update the progress of the Demo-Functions. May I take this up..?

[2021-10-05 11:21] mirwansyahs commented on #125
Hey, I can take the issue.

Language: PHP

[2021-10-05 12:20] christyjacob4 commented on #126
Would you like to discuss your approach ? Maybe we can go over some ideas before you start the implementation? How does that sound ?

[2021-10-05 12:26] Meldiron commented on #126
Hello there 👋

First of all, thanks for the idea, it is amazing! The only problem is that manually updating will never get the job done.. Believe it or not, in 1 month it will be as outdated as it is right now.

My idea is to create a GitHub action that will scan all folders and generate this table. Then, we will configure the action to run every 12 hours. Do you think you could implement that?

A

[2021-10-05 12:38] Sin-Sumit commented on #91
hey, @crossphoton I'm working on NodeJs.

[2021-10-05 12:41] Meldiron commented on #91
@crossphoton My bad 😞 I commented but forgot to update the table... Updated it now. Check out other functions we need to implement, many of them have NodeJS unassigned.

[2021-10-05 14:19] siddhantdixit commented on #45
Can I work on this issue?

[2021-10-05 20:29] mendoza commented on #29
@Glide7 What do you think about
- Server heartbeat (same as server time on @mlucas-NU)
- Getting weather on a specific Geolocation with coordinates or even with a city name!

[2021-10-06 06:10] noviicee commented on #126
Thanks for the reference @Meldiron. I get the point.
Will try to implement it 😄

[2021-10-06 07:26] noviicee commented on #126
@Meldiron I have created a workflow, but I am not sure as to how to use it to scan all folders and generate this table. Could you help me a little on that..?

[2021-10-06 09:58] aerabi commented on #37
I am interested in this issue.

[2021-10-07 14:02] Hard-Coder05 opened #162 "Add GitHub Issue Forms and PR template"
## Title
GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

## Description
As we can see this repository currently uses neither issue template nor any PR template. Your task is to create GitHub issue forms a

[2021-10-07 14:03] Hard-Coder05 commented on #162
@eldadfux If you find this valuable, Could you please assign me this issue?

[2021-10-11 05:57] kalpeshT101 commented on #20
Please assign this issue

[2021-10-13 17:47] hannesfant opened #218 "Translate backup function to Node JS"
Noticed that the backup function haven't been translated to Node yet. Mind if I hop on it?

[2021-10-17 17:26] KaminskiDaniell commented on #17
Can I work on this?

[2021-10-21 05:11] #162 closed

[2021-10-21 19:20] GunjanDhanuka commented on #45
Hey! Can I work on this?

[2021-10-29 03:27] gireeshp opened #288 "Create a new user profile in "users" collection when a new account is created"
A demo to be created in Python function SDK which will create a new user profile in "users" collection of the DB when a new user account is created.

[2021-10-31 18:55] gireeshp opened #302 "🚀 Feature: Demo function in Python to calculate user rankings based on their activities"
### 💭 Description

This is a supporting function to a [fitness challenge](https://github.com/gireeshp/fitness_challenge) app built using Appwrite & Flutter. The function should calculate user rankings (leaderboard) based on the user activities.

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code

[2021-12-17 00:00] jenniestrongbow opened #305 "📚 Documentation: Using variables"
### 💭 Description

Hi,

I want to create a PHP function that is triggered when a document is added to a collection.

I know how to create pre-defined variables and how to get $_ENV variables in PHP. But how do I pass the document ID of the newly added document to the PHP function?

Thanks,

Nicolas

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and

[2021-12-17 08:28] jenniestrongbow opened #306 "📚 Documentation: more info about command"
### 💭 Description

Hi,

I've built a function using PHP. What should I put in command?

Also, in my PHP code, can I write a text file anywhere on my server or am I restricted to a directory, if so, which one?

Thanks,

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have

[2021-12-17 08:31] jenniestrongbow commented on #306
php index.php found the info. Thanks

[2021-12-17 08:31] #306 closed

[2021-12-17 08:35] jenniestrongbow opened #307 "📚 Documentation:"
### 💭 Description

Hi,

I wrote a PHP function that writes a text file on my ubuntu server.

Can I write a text file anywhere on my server or am I restricted to a directory, if so, which one?

Thanks

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of

[2021-12-17 17:26] jenniestrongbow commented on #288
A demo that shows how to write files on the server. Thanks

[2021-12-17 17:26] jenniestrongbow commented on #288
A demo that show how to get the document ID of the document change that triggered the function. Thanks

[2021-12-17 17:44] jenniestrongbow opened #308 "Console"
### 💭 Description

Hi,

How do you output text in the Logs on purpose ?

Thanks

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2021-12-19 06:03] lohanidamodar commented on #308
You can send logs to stdout for the respective language. For example in dart you can use `print` in nodejs you can use `console.log` and so on

[2021-12-19 06:04] #308 closed

[2021-12-19 06:11] lohanidamodar commented on #288
1. You can create a separate issue for sample to write files on server, but you can use Appwrite's storage API to write file to server.
2. Whenever a function is triggered by system events, you get the payload in `APPWRITE_FUNCTION_EVENT_DATA` environment variable. which contains `$id` that is the id of the document.

[2021-12-19 06:11] #288 closed

[2021-12-19 06:12] lohanidamodar commented on #307
Hey the functions itself are stateless, the files you write may not be accessible once the function has completed. We suggest to use Appwrite storage to store files from your functions. Let us know if you have further questions.

[2021-12-19 06:20] lohanidamodar commented on #305
Hi, you already receive the whole newly created document in `APPWRITE_FUNCTION_EVENT_DATA` which includes the ID of the newly created document. More information:
https://appwrite.io/docs/functions#enviromentVariables

[2021-12-19 06:20] #305 closed

[2022-02-13 20:52] lexxyungcarter commented on #29
- targetting specific collections when their documents get added/updated
- A direct comparison/mapping of "here's how you did it in firebase" > "here's how you do it in appwrite" (not sure how  best to word that)

[2022-03-27 17:46] anandsubbu007 opened #314 "🐛 Bug Report: Demo Function (add updated at) running in loop"
### 👟 Reproduction steps

https://github.com/appwrite/appwrite/issues/3025#issue-1182524423

[add-updated-at](https://github.com/appwrite/demos-for-functions/tree/master/dart/add-updated-at)

Runs in loop Demo Function when tries to update the document [document.update]

### 👍 Expected behavior

-

### 👎 Actual Behavior

running in loop

### 🎲 Appwrite version

Version 0.10.x

### 💻 Operating syst

[2022-03-28 04:07] anandsubbu007 commented on #314
Any update?

[2022-06-14 08:01] Pastajello opened #315 "🐛 Bug Report: [dart] new functions use different entry point then current demos."
### 👟 Reproduction steps

Hello,

current demo functions in Dart are having
`main(List<String> args) async `
as starting point. But new functions created by the CLI are all having
`Future<void> start(final req, final res) async`

### 👍 Expected behavior

Demos should be rewritten to comform to new function API.

### 👎 Actual Behavior

Dart demos are all having wrong/outdated entry point.

### 🎲 Ap

[2022-06-14 08:03] Pastajello opened #316 "🐛 Bug Report: Bug template doesnt have newer Appwrite versions in Appwrite version dropdown."
### 👟 Reproduction steps

Hello,

just enter a Bug issue creation and click on Appwrite version dropdown.

### 👍 Expected behavior

Since Appwrite is now in 0.14.x it should be possible to add it ?_?

### 👎 Actual Behavior

![image](https://user-images.githubusercontent.com/28345098/173525835-2608391b-0c22-48c0-b24b-86a41542387b.png)

### 🎲 Appwrite version

Different version (specify in environme

[2022-07-15 20:22] stnguyen90 commented on #307
Closing as question was answered and no further action required.

[2022-07-15 20:22] #307 closed

[2022-07-15 20:24] stnguyen90 commented on #314
Closing as duplicate.

[2022-07-15 20:24] #314 closed

[2022-07-15 22:53] #315 closed